$blue-dark: #447ebb !default;
$blue: #5a8cc3 !default;

$blue-link: #36b2e2 !default;

$grey-dark: #8c8c8c !default;
$grey: #a0a0a0 !default;
$grey-light: #dcdcdc !default;

$dark-font: #2D2B2D !default;

$green: #5ea400 !default;
$bright-red: #C00 !default;

/*from pdf sample*/
$light-grey: #fafafa !default;
$medium-grey: #e0e0e0 !default;
$darker-grey: #9e9e9e !default;
$dark-grey: #5d5a5a !default;
$orange: #f36831 !default;
$medium-blue: #1396b7 !default;
