@import "../color-variables";

.upload-form_drop-down-area {
  min-height: 150px;
  min-width: 250px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed $dark-grey;
  border-radius: 10px;
}

.upload-form__illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-form__logo {
  width: 30px;
  margin-bottom: 10px;
}

.upload-form_discription {
  font-size: 28px;
  text-align: center;
  text-transform: capitalize;
  color: $medium-grey;
}

.upload-form_upload-button input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-form_upload-button {
  height: 30px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: white;
  background: $orange;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: darken($orange, 15%);
  }
}

.upload-form_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form_buttons > *:first-of-type {
  margin-right: 20px;
}

.upload-form_success {
  margin-bottom: 70px;
  color: $dark-grey;
}
